:not([class*="highlight-code"]):not(h2):not(a):not(.no-highlight-background) {
    color: #82b74b;
    background-color: #3e4444;
    font-size: x-large;
}

.highlight-code {
    font-size: xx-large;
}

body {
    padding: 10px;
}

h2 {
    color: #d64161;
    font-size: xx-large;;
}

a {
    color: #80ced6;
}

.yanzhan-hidden {
    display: none;
}

.yanzhan-show {
    display: block;
    animation: fade_in_show 0.5s
}

@keyframes fade_in_show {
     0% {
          opacity: 0;
     }
     100% {
          opacity: 1;
     }
}

.video-wrapper {
    width: 80%;
    height: 50%;
    margin: 0 auto;
}

.video-item {
    width: 100%;
    height: 100%;
}

.no-highlight-background {
    padding: 5px;
    color: #839496;
    background: #002b36;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

